#announcements-tab .announcement {
  margin: 30px 0px 0px 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d1d7dc;
}

#announcements-tab .announcement--header {
  display: flex;
  margin: 0px 0px 20px 0px;
}

#announcements-tab .announcement--header img {
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

#announcements-tab .announcement--header .user-avatar {
  display: inline-block;
}

#announcements-tab .announcement--header--info {
  display: inline-block;
}

#announcements-tab .announcement--header--info .instructor-profile-link {
  display: block;
}

#announcements-tab .announcement--body--title {
  font-weight: 700;
  font-size: 19px;
  margin: 0px 0px 16px 0px;
}
